<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./head %>
    <title><%- title %></title>
    <style>
      body {
        background-size: cover;
        background-image: linear-gradient(to right, #3c0b96, #ae95db, #3c0b96);
      }
      img {
        max-width: 100%;
        max-height: auto;
      }
      ul {
        columns: 2;
        width: 90%;
      }
      #option-list > * {
        margin:1px;
        background-image: linear-gradient(to right, #633ea3, #806ca3, #633ea3);
        border-radius: 100px;
        border-color:antiquewhite;
        border-width: medium;
        color:aliceblue";
      }
      .card{
        margin-top: 2%;
          background-color: #280763;
          color: whitesmoke;
          border-color: antiquewhite;
          border-radius: 100px;
          border-width: thick;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bluffmaster</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: green;"
                >Hello, Audience</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/scoreboard">scoreboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/participants/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container" align="center">
      <div class="card">
        <div class="card-body">
          <h4 id="question-statement"></h4>
        </div>
      </div>
      <ul class="list-group list-group-flush" id="option-list"></ul>
      <div
        id="extra-space"
        style="height: 400px; width: 100%; clear: both;"
      ></div>
      <div class="toastlikemessage" style="display: none;"></div>
    </div>
    <script>
      function showOrHideOption(optText, optionNo, optionText) {
        if ($(optText).text() == optionNo) $(optText).text(optionText);
        else $(optText).text(optionNo);
      }

      fetch("http://localhost:3000/fetch/variables")
        .then((res) => res.json())
        .then(({ variables }) => {
          let qno = variables[0].currentQuestion;
          return fetch(`http://localhost:3000/fetch/question/${qno}`);
        })
        .then((res) => res.json())
        .then(({ question }) => {
          if (question[0].qno) {
            const optionsArray = question[0].question.correctoptions;
            $("#question-statement").text(`${question[0].qno}.
        ${question[0].question.statement}`);
            optionsArray.map((opt) => {
              const optLi = $("<li />")
                .addClass("list-group-item options")
                .attr("id", `option${opt.optionNo}`);
              const optText = $("<h5 />")
                .attr("id", `optiontext${opt.optionNo}`)
                .text(opt.optionNo);
              $(optLi).append(optText);
              $("#option-list").append(optLi);
              $(optLi).on({
                click: function () {
                  showOrHideOption(optText, opt.optionNo, opt.option);
                },
                mouseenter: function () {
                  $(optLi).css(
                    "background-image",
                    "linear-gradient(to right, #806ca3, #633ea3, #806ca3)"
                  );
                },
                mouseleave: function () {
                  $(optLi).css(
                    "background-image",
                    "linear-gradient(to right,#633ea3, #806ca3, #633ea3)"
                  );
                },
              });
              $("#extra-space").remove();
            });
          } else {
            $("#question-statement").text(question[0].question.statement);
          }
        });
    </script>
  </body>
</html>
