<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Form</title>
  </head>
  <body>
    <form action="/feed/participants" method="post">
      <label for="p_name">Name: </label>
      <input type="text" id="p_name" name="p_name" />
      <br />
      <br />
      <label for="p_college">College: </label>
      <input type="text" id="p_college" name="p_college" />
      <br />
      <br />
      <input type="submit" />
      <input type="reset" />
    </form>
  </body>
</html>
