<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./head %>

    <!-- <script src="/scripts/typedjs.js"></script> -->

    <title>Bluffmaster</title>
    <style>
      body {
        background-color: green;
        background-size: cover;
      }
      img {
        max-width: 100%;
        max-height: auto;
      }
      .big {
        font-size: 100px;
        color: black;
      }
      .welcome {
        margin-top: 15%;
      }
    </style>
  </head>
  <body>
    <header><%- include ./header %></header>

    <div class="container-fluid"></div>

    <footer><%- include ./footer %></footer>
  </body>
</html>
