@import url("https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe|Palanquin|Rozha+One|Ubuntu+Mono");
@font-face {
  font-family: "MyUbuntuMono";
  src: url("/fonts/UbuntuMono.ttf");
}
body {
  /* The image used */

  /* Full height */

  /* Center and scale the image nicely */

  background-repeat: no-repeat;
  background-size: cover;
  font-family: "MyUbuntuMono";
}
.hindi {
  font-family: Palanquin;
}
.hindi-title {
  font-family: "Rozha One";
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: mintcream;
}
.ques {
  font-size: 35px;
}
