/* add the following line in your HTML file to get working
<div class="toastlikemessage" style="display: none"></div>
also, include the toastlikemessage.js file
*/

.toastlikemessage {
  width: 60%;
  height: 20px;
  height: auto;
  position: absolute;
  left: 20%;
  bottom: 10px;
  background-color: #383838;
  color: #f0f0f0;
  font-family: Calibri;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}
